.cart{
    width: fit-content;
    height: fit-content;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 255, 212, 0.348);
    overflow: hidden;
    position: relative;
    border-radius: 12px;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s;
    border: 1px solid aqua;
}
.cart:hover{
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0 12px 28px rgba(255, 255, 255, 0.139), 0 10px 10px rgba(0,0,0,0.22);
}
.product{
    width: 180px;
    height: 250px;  
}
.cart p{
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 0.4rem 0rem;
    background-color: rgba(0, 0, 0, 0.692);

   }
   .buttons{
    width: 100%;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 170);
    padding: 6px 0;

}
.remove{
 
    border-radius: 10px;
   
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: none;
    background-color: rgba(53, 53, 53, 0.307);
    transition: all 0.4s;
}
.remove:hover{
    background-color: rgba(3, 254, 212, 0.602);
   }
.remove img{
   position: relative;
   right: 9px;
    width: 25px;
    height: 25px;

}
.increase{
  
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-weight: bold;
    border-radius: 10px;
    color: aqua;
    border: none;
    background-color: rgb(4, 4, 4);
    transition: all 0.4s;
}
.increase:hover{
    background-color: rgba(0, 0, 0, 0.637);
   }
.decrease{
    cursor: pointer;
    width: 25px;
    height: 25px;   
    border-radius: 10px;
    font-weight: bold;
    color: aqua;
    border: none;
    background-color: rgb(4, 4, 4);
    cursor: pointer;
    transition: all 0.4s;


}
.decrease:hover{
    background-color: rgba(0, 0, 0, 0.637);
   }
@media (max-width:550px) {
    .cart{
        transition: all 0.4s;
        width: fit-content;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        background-color: rgba(127, 255, 212, 0.348);
        overflow: hidden;
        position: relative;
        border-radius: 12px;
        align-items: center;
        overflow: hidden;
        border: 1px solid rgb(255, 255, 255);
    }
    .cart:hover{
        box-shadow: 0 12px 28px rgba(255, 255, 255, 0.139), 0 10px 10px rgba(0,0,0,0.22);
    }
    .product{
        width: 120px;
        height: 140px;
      
    }
    .cart p{
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 0.4rem 0rem;
        background-color: rgb(0, 0, 0);
       }
       .buttons{
        width: 100%;
        text-align:center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 255, 170);
        padding: 6px 0;

    }
    .remove{
     
        border-radius: 10px;
       
        cursor: pointer;
        width: 25px;
        height: 25px;
        border: none;
        background-color: rgba(53, 53, 53, 0.307);
        transition: all 0.4s;
    }
    .remove:hover{
        background-color: rgba(3, 254, 212, 0.602);
       }
    .remove img{ 
       position: relative;
       right:6.5px;
       bottom: 2px;
        width: 25px;
        height: 25px;
    
    }
    .increase{
      
        cursor: pointer;
        width: 25px;
        height: 25px;
        font-weight: bold;
        border-radius: 10px;
        color: aqua;
        border: none;
        background-color: rgb(4, 4, 4);
        transition: all 0.4s;
    }
    .increase:hover{
        background-color: rgba(0, 0, 0, 0.637);
       }
    .decrease{
        cursor: pointer;
        width: 25px;
        height: 25px;   
        border-radius: 10px;
        font-weight: bold;
        color: aqua;
        border: none;
        background-color: rgb(4, 4, 4);
        cursor: pointer;
        transition: all 0.4s;
    
    
    }
    .decrease:hover{
        background-color: rgba(0, 0, 0, 0.637);
       }
}